# Model and Sample Evaluation

We evaluating samples by first, **applying a predicate** over the dataset, then, **computing aggregates (mean, median, sum and count)** over the samples. We will then take the average over all the errors. 

> We use the relative error to compute error between two output. See below under Error.

In this notebook, the predicates are divided into different groups based on attributes and ops. The averages are also take across the particular group and the selected metrics.

This notebook allows you to conduct test on the model by running experiments on the samples generated. You will need

1. The actual dataset (full yelp dataset in this case)
2. The generated samples

Both files need to be in csv format. 

## Importing Relevant Packages

In [1]:
import pandas as pd
import numpy as np
import random
import math
from prettytable import PrettyTable
from rtree import index
random.seed(30)
np.random.seed(39)

## File Paths

In [2]:
original_dataset_file = '../../datasets/yelp_business.csv'
generated_sample_file = './samples/vae_9_sample_10000_times_1.csv'

## Functions for experiments

### Load Samples
Loads the datasets for evaluation. 
1. VAE Generated Samples (Pandas DF)
2. Randomly selected Samples from original dataset (Pandas DF)
3. Full dataset (Pandas DF)
4. Full dataset (NumPy)

You are are allowed to specify the number of samples you wish to use for the test. This function will then randomly select that amount of samples from both the original VAE generated dataset and original True dataset for the VAE Generated Samples and Randomly Selected Samples respectively.

In [3]:
def load_samples(number_of_samples_generated, number_of_samples_real):
    generated_sample = np.genfromtxt(generated_sample_file, delimiter = ',', skip_header=1)
    real_data = np.genfromtxt(original_dataset_file, delimiter = ',', skip_header=1)
    real_data = real_data[~np.isnan(real_data).any(axis=-1)]
    real_sample = real_data[np.random.choice(len(real_data), size=number_of_samples_real, replace=False)]
    generated_sample = generated_sample[np.random.choice(len(generated_sample), size=number_of_samples_generated, replace=False)]

    generated = pd.DataFrame(generated_sample, columns = ['latitude','longitude','stars','review_count','is_open'])
    real_dataset = pd.DataFrame(real_data, columns = ['latitude','longitude','stars','review_count','is_open'])
    real_sample = pd.DataFrame(real_sample, columns = ['latitude','longitude','stars','review_count','is_open'])

    return generated, real_sample, real_dataset, real_data

### Generate Spatial Range Predicates
Will generate a list of spatial predicates and return the list. Predicates will be range spatial predicates. Specify actual dataset and number of samples

In [4]:
def generate_spatial_range_predicates(real_data, number_of_samples=100):
	sample = real_data[np.random.choice(len(real_data), size=number_of_samples, replace=False)]
	predicates = []
	for i in sample:
		coordinate = tuple(i[:2])
		radius = random.uniform(0, 1)
		predicates.append([('coordinates', 'range',(coordinate, radius))])
	return predicates

### Generate Normal Predicates

Generating a dict of predicates arranged in a hierarchical order. The ends contain a list of predicates.

```python
predicate_dict ---- Stars ______________  == (equality)
            |           |_______________  >= (more than or equals)
            |           |_______________  <= (less than or equals)
            | 
            |  ----- Review_count ______ == (equality)
            |           |_______________  >= (more than or equals)
            |           |_______________  <= (less than or equals)
            |
            | ----- is_open _____________ == (equality)
```      


```python
{'stars':{'==':[], '>=':[], '<=':[]}, 'review_count':{'==':[], '>=':[], '<=':[]}, 'is_open':{'==':[], '>=':[], '<=':[]}}
```

In [5]:
def generate_normal_predicates(real_data, number_of_samples):
    ops_dict = {0:'==', 1:'>=', 2:'<='}
    predicate_dict = {'stars':{'==':[], '>=':[], '<=':[]}, 'review_count':{'==':[], '>=':[], '<=':[]}, 'is_open':{'==':[], '>=':[], '<=':[]}}
    reverse_categorical_map = {0:0, 1:0.5, 2:1, 3:1.5, 4:2, 5:2.5, 6:3, 7:3.5, 8:4, 9:4.5, 10:5}
    minimum_review, maximum_review  = int(min(list(real_data[3]))), int(max(list(real_data[3])))

    # stars
    for _ in range((number_of_samples-2)//2):
        ops = random.randint(0, 2)
        value = reverse_categorical_map[random.randint(0, 10)]
        predicate_dict['stars'][ops_dict[ops]].append([('stars', ops_dict[ops], value)])

    # reviews
    for _ in range((number_of_samples-2)//2):
        ops = random.randint(0, 2)
        value = random.randint(minimum_review, maximum_review)
        predicate_dict['review_count'][ops_dict[ops]].append([('review_count', ops_dict[ops], value)])

    predicate_dict['is_open']['=='].append([('is_open', '==', 1)])
    predicate_dict['is_open']['=='].append([('is_open', '==', 0)])
    return predicate_dict

### In Radius 

This is to faciliate the spatial range predicates. It true or false depending on whether the target coordinate is within a certain radius of the chosen center.

In [6]:
def in_radius(coordinate, center, radius):
	return np.linalg.norm(np.array(coordinate)-np.array(center)) <= radius

### Evaluation Functions
The functions below helps us to evaluate the performance of the samples.

- Call **evaluate_dataset** to evaluate the performance of a dataset (in this case, randomly drawn samples/ generated samples) with respect to the actual dataset.
- Call **compare_evaluate_dataset** to compare the performance of two datasets with respect to the actual dataset
- Call **evaluate_query** to compute the aggregates of dataset for a specific predicate

In [7]:
# evaluation for 1 query
def evaluate_query(dataset, spatial_index,predicates):
    dataset.reset_index(drop=True)
    filtered = None
    for predicate in predicates:
        attribute, op, value = predicate
        if attribute == 'coordinates':
            dataset, filtered = apply_spatial_predicate(spatial_index, value[0], value[1], filtered)
            
    for predicate in predicates:
        attribute, op, value = predicate
        if attribute != 'coordinates':
            dataset = dataset.query(attribute+op+str(value))
            dataset.reset_index(drop=True)
    results = dataset.agg(['mean', 'median','count','sum'])
    return results

In [8]:
# evaluating loss for 1 predicate
def evaluate_predicate(real_dataset, test_dataset, real_spatial_index, test_spatial_index, predicates, error_dict):
    real_results = evaluate_query(real_dataset, real_spatial_index,predicates)
    test_results = evaluate_query(test_dataset, test_spatial_index,predicates)
    no_samples = False
    
    for a in test_results.keys():
        if test_results[a]['count'] == 0:
            no_samples = True
    if no_samples:
        print('NO SAMPLES FOR THIS PREDICATE :', predicates)
    multiplier = len(real_dataset)/len(test_dataset)
    test_results['stars']['count'] = test_results['stars']['count']*multiplier
    test_results['stars']['sum'] = test_results['stars']['sum']*multiplier
    test_results['review_count']['count'] = test_results['review_count']['count']*multiplier
    test_results['review_count']['sum'] = test_results['review_count']['sum']*multiplier
    test_results['is_open']['count'] = test_results['is_open']['count']*multiplier
    test_results['is_open']['sum'] = test_results['is_open']['sum']*multiplier
    
    compute_error(real_results, test_results, error_dict)

In [9]:
def evaluate_dataset(real_dataset, test_dataset, real_spatial_index, test_spatial_index, predicates_dict):
    for a in predicates_dict.keys():
        for op in predicates_dict[a].keys():
            print(real_dataset.shape, test_dataset.shape)
            print('Evaluating Error for ' + str(a) + ' and ' + str(op))
            error_dict = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict = evaluate_helper(real_dataset, test_dataset, real_spatial_index, test_spatial_index, predicates_dict[a][op], error_dict)
            error_summary = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            for a2 in error_dict.keys():
                for m in error_dict[a2].keys():
                    if len(error_dict[a2][m])>0:
                        error_summary[a2][m] = sum(error_dict[a2][m])/len(error_dict[a2][m])
            display_results(error_summary)
            
def evaluate_helper(real_dataset, test_dataset, real_spatial_index, test_spatial_index, predicates_list, error_dict=None):
    if error_dict is None:
        error_dict = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
    for predicates in predicates_list:
        evaluate_predicate(real_dataset, test_dataset, real_spatial_index, test_spatial_index, predicates, error_dict)
    return error_dict

In [10]:
def compare_evaluate_dataset(real_dataset, test_dataset_1, test_dataset_2, real_spatial_index, test_spatial_index_1, test_spatial_index_2, predicates_dict):
    for a in predicates_dict.keys():
        for op in predicates_dict[a].keys():
            print(real_dataset.shape, test_dataset_1.shape, test_dataset_2.shape)
            print('Evaluating Error for ' + str(a) + ' and ' + str(op))
            error_dict_1 = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict_2 = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict_1 = evaluate_helper(real_dataset, test_dataset_1, real_spatial_index, test_spatial_index_1, predicates_dict[a][op], error_dict_1)
            error_dict_2 = evaluate_helper(real_dataset, test_dataset_2, real_spatial_index, test_spatial_index_2, predicates_dict[a][op], error_dict_2)
            error_summary_1 = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            error_summary_2 = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            for a2 in error_dict_1.keys():
                for m in error_dict_1[a2].keys():
                    if len(error_dict_1[a2][m])>0:
                        error_summary_1[a2][m] = sum(error_dict_1[a2][m])/len(error_dict_1[a2][m])
            for a2 in error_dict_2.keys():
                for m in error_dict_2[a2].keys():
                    if len(error_dict_2[a2][m])>0:
                        error_summary_2[a2][m] = sum(error_dict_2[a2][m])/len(error_dict_2[a2][m])
            display_compare_results(error_summary_1, error_summary_2)

def display_compare_results(error_summary_1, error_summary_2):
    x = PrettyTable()
    
    column_names = ["errors"] + ["stars", "review_count", "is_open"] + ["next_model"] + ["stars", "review_count", "is_open"]

    x.add_column(column_names[0], ["mean", "median", "sum", 
        "count"])
    i = 1
    for a in error_summary_1.keys():
        x.add_column(column_names[i], [display_helper(error_summary_1[a]['mean']), display_helper(error_summary_1[a]['median']), display_helper(error_summary_1[a]['sum']), display_helper(error_summary_1[a]['count'])])  
        i += 1
    x.add_column(column_names[i], [" ", " ", " ", 
        " "])
    i+= 1
    for a in error_summary_2.keys():
        x.add_column(column_names[i], [display_helper(error_summary_2[a]['mean']), display_helper(error_summary_2[a]['median']), display_helper(error_summary_2[a]['sum']), display_helper(error_summary_2[a]['count'])])  
        i += 1
    print(x)

def display_helper(number):
    if number == 'na':
        return number
    return_number = number * 100
    return_number = round(return_number, 2)
    return return_number

In [11]:
def display_results(error_summary, metric='mean'):
    x = PrettyTable()
    
    column_names = ["errors", "stars", "review_count", "is_open"]

    x.add_column(column_names[0], ["mean", "median", "sum", 
        "count"])
    i = 1
    for a in error_summary.keys():
        x.add_column(column_names[i],[display_helper(error_summary[a]['mean']), display_helper(error_summary[a]['median']), display_helper(error_summary[a]['sum']), display_helper(error_summary[a]['count'])])  
        i += 1
    print(x)

In [12]:
def selectivity_filter(lower_percentage, higher_percentage, predicates_list, dataset, spatial_index):
    dataset.reset_index(drop=True)
    original_size = dataset.size
    new_predicates_list = []
    for predicates in predicates_list:
        new_dataset = dataset
        filtered = None
        for predicate in predicates:
            attribute, op, value = predicate
            if attribute == 'coordinates':
                new_dataset, filtered = apply_spatial_predicate(spatial_index, value[0], value[1], filtered)
        for predicate in predicates:
            attribute, op, value = predicate
            if attribute !='coordinates':
                new_dataset = new_dataset.query(attribute+op+str(value))
                new_dataset.reset_index(drop=True)
        
        count = new_dataset.size
        
        if count/original_size > lower_percentage and count/original_size <= higher_percentage:
            new_predicates_list.append(predicates)

    return new_predicates_list

### Error Function 
Error between an approximate and actual results are measured using the following equation:
![relative_error_equation](../../miscellaneous/relative_error_equation.png)

In [13]:
def error(y_true, y_pred):
    if math.isnan(y_pred) or math.isnan(y_true):
        return 1
    return abs(y_true-y_pred)/(y_true+1)

# compute loss for 1 query, returns error dictionary for storing errrors
def compute_error(real_results, test_results, error_dict):
    for a in error_dict.keys():
        for m in error_dict[a].keys():
            error_dict[a][m].append(error(real_results[a][m], test_results[a][m]))
    return error_dict

## Spatial Indexing
Creating spatial indexes decrease the evaluation time for spatial queries

In [14]:
def create_spatial_index(dataset):
    dataset = dataset.to_numpy()
    idx = index.Index()
    a = 0
    for data in dataset:
        try:
            coordinates = (data[1], data[0], data[1], data[0])
            idx.insert(a, coordinates, data)
            a += 1
        except:
            print(coordinates, data)
    return idx

def apply_spatial_predicate(spatial_index, center, radius, filtered):
    left, bottom, right, top = center[1]-radius-0.001, center[0]-radius-0.001, center[1]+radius+0.001, center[0]+radius+0.001
    narrowed_list = [n for n in spatial_index.intersection((left, bottom, right, top), objects=True)]
#     print('narrowed_list: ', narrowed_list)
    final_list = []
    if filtered is None:
        filtered_set = set()
        for n in narrowed_list:
            row = n.object
            if in_radius((row[0], row[1]), center, radius):
                final_list.append(row)
                filtered_set.add(n.id)
    
        filtered_df = pd.DataFrame(final_list, columns = ['latitude','longitude','stars','review_count','is_open'])
        return filtered_df, filtered_set
    
    new_filtered_set = set()
    for n in narrowed_list:
        if n.id in filtered:
            if in_radius((row[0], row[1]), center, radius):
                final_list.append(row)
                new_filtered_set.add(n.id)
    
    filtered_df = pd.DataFrame(filtered_new, columns = ['latitude','longitude','stars','review_count','is_open'])
    
    return filtered_df, new_filtered_set # also return the pandas frame

## Loading Datasets and Creating Indexes
Here, The data is loaded and the R-Trees are created.

In [15]:
generated_sample, real_sample, real_dataset, real_data = load_samples(10000, 10000)
normal_predicates = generate_normal_predicates(real_data, 200)
normal_predicates['coordinates'] = {}
normal_predicates['coordinates']['range'] = generate_spatial_range_predicates(real_data, 10)

generated_sample_index = create_spatial_index(generated_sample)
real_sample_index = create_spatial_index(real_sample)
real_dataset_index = create_spatial_index(real_dataset)

for a in normal_predicates.keys():
    for op in normal_predicates[a].keys():
        normal_predicates[a][op] = selectivity_filter(0.01, 1, normal_predicates[a][op], real_dataset, real_dataset_index)

In [16]:
generated_sample.shape

(10000, 5)

## Results

### Comparing Performance Of Above 2 (Generated Samples vs Random Samples)
Results of generated samples on the left, and real samples on the right.

In [17]:
compare_evaluate_dataset(real_dataset, generated_sample, real_sample, real_dataset_index, generated_sample_index, real_sample_index,normal_predicates)

(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.0  |     5.26     |   1.64  |            |  0.0  |     9.25     |   0.9   |
| median |  0.0  |    11.57     |    na   |            |  0.0  |     1.45     |    na   |
|  sum   |  4.23 |     9.43     |   6.6   |            |  2.52 |     9.91     |   2.24  |
| count  |  4.23 |     4.23     |   4.23  |            |  2.52 |     2.52     |   2.52  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.19 |     2.71     |   1.41  |            |  0.08 |     4.33     |   0.33  |
| median |  0.0  |     6.95     |    na   |            |  0.0  |     3.11     |    na   |
|  sum   |  1.88 |     4.4      |   4.52  |            |  0.77 |     4.52     |   0.86  |
| count  |  1.64 |     1.64     |   1.64  |            |  0.8  |     0.8      |   0.8   |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.25 |     2.85     |   1.04  |            |  0.14 |     5.93     |   0.36  |
| median |  0.0  |    11.47     |    na   |            |  0.0  |     4.95     |    na   |
|  sum   |  2.06 |     4.73     |   3.59  |            |  1.23 |     5.95     |   0.97  |
| count  |  1.68 |     1.68     |   1.68  |            |  1.03 |     1.03     |   1.03  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  1.01 |     0.0      |   1.18  |            |  2.0  |     0.0      |   0.99  |
| median |  0.0  |     0.0      |    na   |            |  5.56 |     0.0      |    na   |
|  sum   | 17.01 |    15.57     |  13.24  |            |  3.74 |     3.25     |   3.44  |
| count  | 15.57 |    15.57     |  15.57  |            |  3.24 |     3.24     |   3.24  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.27 |     0.38     |   0.18  |            |  0.09 |     3.77     |   0.02  |
| median |  0.0  |     9.79     |    na   |            |  0.83 |    10.01     |    na   |
|  sum   |  0.74 |     0.08     |   0.34  |            |  0.43 |     3.57     |   0.37  |
| count  |  0.4  |     0.4      |   0.4   |            |  0.32 |     0.32     |   0.32  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.52 |     6.33     |   0.32  |            |  0.19 |     0.32     |   0.15  |
| median |  0.0  |     3.93     |    na   |            |  0.0  |     0.0      |    na   |
|  sum   |  3.26 |    10.45     |   3.29  |            |  1.19 |     0.72     |   1.2   |
| count  |  2.91 |     2.91     |   2.91  |            |  0.94 |     0.94     |   0.94  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  1.67 |    21.31     |   0.0   |            |  0.56 |     2.43     |   0.0   |
| median |  5.0  |     0.0      |    na   |            |  0.0  |     0.0      |    na   |
|  sum   |  2.74 |    23.01     |   0.09  |            |  0.71 |     2.52     |   0.0   |
| count  |  0.59 |     0.59     |   0.59  |            |  0.01 |     0.01     |   0.01  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |            |   na  |      na      |    na   |
| median |   na  |      na      |    na   |            |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |            |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |            |   na  |      na      |    na   |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |            |   na  |      na      |    na   |
| median |   na  |      na      |    na   |            |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |            |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |            |   na  |      na      |    na   |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174566, 5) (10000, 5) (10000, 5)
Evaluating Error for coordinates and range
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  1.21 |    23.64     |   0.81  |            |  0.85 |     5.22     |   0.37  |
| median |  3.72 |     6.76     |    na   |            |  0.0  |     4.93     |    na   |
|  sum   |  15.2 |    32.83     |  14.81  |            |  2.08 |     4.81     |   1.62  |
| count  | 14.98 |    14.98     |  14.98  |            |  1.71 |     1.71     |   1.71  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+

In [17]:
evaluate_dataset(real_dataset, generated_sample, real_dataset_index, generated_sample_index, normal_predicates)

(174566, 5) (10000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.0  |     9.14     |   1.92  |
| median |  0.0  |     6.26     |    na   |
|  sum   |  4.33 |    13.08     |   7.66  |
| count  |  4.33 |     4.33     |   4.33  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.19 |     3.31     |   1.96  |
| median |  0.0  |     6.35     |    na   |
|  sum   |  1.09 |     4.19     |   4.95  |
| count  |  0.95 |     0.95     |   0.95  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.32 |     6.55     |   0.91  |
| median |  0.0  |     2.17     |    na   |
|  sum   |  3.13 |     9.86     |   4.12  |
| count  |  2.96 |     2.96     |   2.96  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  2.51 |     0.0      |   2.36  |
| median | 11.11 |     0.0      |    na   |
|  sum   | 17.11 |    14.95     |  13.39  |
| count  | 14.95 |    14.95     |  14.95  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.53 |     2.39     |   0.23  |
| median |  0.83 |     0.53     |    na   |
|  sum   |  1.07 |     2.39     |   0.88  |
| count  |  0.4  |     0.4      |   0.4   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.19 |     7.09     |   0.29  |
| median |  0.0  |     3.43     |    na   |
|  sum   |  7.13 |     5.35     |   6.78  |
| count  |  7.32 |     7.32     |   7.32  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  2.27 |     5.61     |   0.0   |
| median | 10.56 |    10.56     |    na   |
|  sum   |  4.67 |     7.65     |   0.27  |
| count  |  1.71 |     1.71     |   1.71  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for coordinates and range
NO SAMPLES FOR THIS PREDICATE : [('coordinates', 'range', ((35.2356283, -80.8406237), 0.038728335864936625))]
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  | 13.03 |    58.34     |  13.02  |
| median |  13.5 |    39.55     |    na   |
|  sum   | 97.98 |    98.88     |  97.93  |
| count  | 97.94 |    97.94     |  97.94  |
+--------+-------+--------------+---------+

### Evaluating Random Samples

In [22]:
evaluate_dataset(real_dataset, real_sample, real_dataset_index, real_sample_index, normal_predicates)

(174566, 5) (10000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.0  |     7.16     |   0.58  |
| median |  0.0  |     0.57     |    na   |
|  sum   |  2.84 |     8.19     |   3.38  |
| count  |  2.84 |     2.84     |   2.84  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.09 |     1.34     |   0.49  |
| median |  0.0  |     0.25     |    na   |
|  sum   |  0.23 |     1.41     |   1.01  |
| count  |  0.3  |     0.3      |   0.3   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.13 |     4.63     |   0.29  |
| median |  0.0  |     1.14     |    na   |
|  sum   |  1.39 |     5.83     |   1.6   |
| count  |  1.31 |     1.31     |   1.31  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.76 |     0.0      |   0.62  |
| median |  3.7  |     0.0      |    na   |
|  sum   |  5.88 |     5.9      |   4.67  |
| count  |  5.9  |     5.9      |   5.9   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.06 |     0.78     |   0.46  |
| median |  0.0  |     0.07     |    na   |
|  sum   |  0.09 |     0.77     |   0.97  |
| count  |  0.07 |     0.07     |   0.07  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.05 |     0.22     |   0.26  |
| median |  0.0  |     0.0      |    na   |
|  sum   |  0.43 |     0.57     |   0.56  |
| count  |  0.37 |     0.37     |   0.37  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.27 |     1.34     |   0.0   |
| median |  0.0  |     5.0      |    na   |
|  sum   |  3.49 |     4.56     |   0.5   |
| count  |  3.12 |     3.12     |   3.12  |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174566, 5) (10000, 5)
Evaluating Error for coordinates and range
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.37 |     5.0      |   0.61  |
| median |  0.0  |     4.09     |    na   |
|  sum   |  2.41 |     6.74     |   2.72  |
| count  |  2.6  |     2.6      |   2.6   |
+--------+-------+--------------+---------+

### Computing Aggregates For A Single Predicate

For the target predicate below,

In [38]:
normal_predicates['stars']['=='][2]

[('stars', '==', 1)]

#### computes the aggregates by `calling evaluate_query`

In [25]:
evaluate_query(generated_sample, generated_sample_index,normal_predicates['stars']['=='][2])

           latitude     longitude  stars  review_count     is_open
mean      38.397676    -94.990207    1.0      5.665094    0.849057
median    36.451032   -108.764119    1.0      3.000000    1.000000
count    212.000000    212.000000  212.0    212.000000  212.000000
sum     8140.307339 -20137.923812  212.0   1201.000000  180.000000

In [32]:
evaluate_query(real_dataset, real_dataset_index,normal_predicates['stars']['=='][2])

             latitude      longitude   stars  review_count      is_open
mean        37.868712     -96.615644     1.0       5.81679     0.891499
median      36.118778    -111.728964     1.0       3.00000     1.000000
count     3788.000000    3788.000000  3788.0    3788.00000  3788.000000
sum     143446.681774 -365980.059602  3788.0   22034.00000  3377.000000

In [33]:
evaluate_query(real_sample, real_sample_index,normal_predicates['stars']['=='][2])

           latitude    longitude  stars  review_count    is_open
mean      38.310937   -95.224187    1.0      4.534884   0.906977
median    36.216772   -82.039882    1.0      3.000000   1.000000
count     43.000000    43.000000   43.0     43.000000  43.000000
sum     1647.370307 -4094.640051   43.0    195.000000  39.000000

In [34]:
evaluate_query(generated_sample, generated_sample_index,[])

            latitude      longitude     stars  review_count    is_open
mean       38.241895     -94.062789     3.588        16.127     0.8485
median     36.139621    -109.224904     3.500         6.000     1.0000
count    2000.000000    2000.000000  2000.000      2000.000  2000.0000
sum     76483.789967 -188125.578280  7176.000     32254.000  1697.0000

In [35]:
evaluate_query(real_dataset, real_dataset_index,[])

            latitude     longitude          stars  review_count        is_open
mean    3.862731e+01 -9.267901e+01       3.632196  3.013706e+01       0.840376
median  3.614426e+01 -8.941013e+01       3.500000  8.000000e+00       1.000000
count   1.745660e+05  1.745660e+05  174567.000000  1.745670e+05  174567.000000
sum     6.743015e+06 -1.617860e+07  634061.500000  5.260936e+06  146702.000000

In [36]:
evaluate_query(real_sample, real_sample_index[])

            latitude      longitude       stars  review_count    is_open
mean       38.821916     -91.581528     3.66475       29.3185     0.8325
median     36.157982     -89.305639     4.00000        8.0000     1.0000
count    2000.000000    2000.000000  2000.00000     2000.0000  2000.0000
sum     77643.832785 -183163.055070  7329.50000    58637.0000  1665.0000

In [38]:
evaluate_query(real_dataset, real_dataset_index,[('coordinates', 'range',((38.821916, -91.581528), 3))])

narrowed_list:  [<rtree.index.Item object at 0x11ba18098>, <rtree.index.Item object at 0x11ba18818>, <rtree.index.Item object at 0x11ba18728>]

         latitude   longitude  stars  review_count  is_open
mean    39.304705  -89.884232   3.25           7.5      0.5
median  39.304705  -89.884232   3.25           7.5      0.5
count    2.000000    2.000000   2.00           2.0      2.0
sum     78.609409 -179.768465   6.50          15.0      1.0

In [23]:
evaluate_query(real_dataset, real_dataset_index,[('coordinates', 'range',((38.821916, -91.581528), 3))])

         latitude   longitude  stars  review_count  is_open
mean    39.304705  -89.884232   3.25           7.5      0.5
median  39.304705  -89.884232   3.25           7.5      0.5
count    2.000000    2.000000   2.00           2.0      2.0
sum     78.609409 -179.768465   6.50          15.0      1.0