# Model and Sample Evaluation

This notebook allows you to conduct test on the model by running experiments on the samples generated. You will need

1. The actual dataset (full yelp dataset in this case)
2. The generated samples

Both files need to be in csv format. 

## Importing Relevant Packages

In [1]:
import pandas as pd
import numpy as np
import random
import math
from prettytable import PrettyTable
random.seed(30)
np.random.seed(39)

## File Paths

In [2]:
original_dataset_file = '../../datasets/yelp_business.csv'
generated_sample_file = './samples/vae_2_1_sample_10000_times_1_test.csv'

## Functions for experiments

### Load Samples
Loads the datasets for evaluation. 
1. VAE Generated Samples (Pandas DF)
2. Randomly selected Samples from original dataset (Pandas DF)
3. Full dataset (Pandas DF)
4. Full dataset (NumPy)

You are are allowed to specify the number of samples you wish to use for the test. This function will then randomly select that amount of samples from both the original VAE generated dataset and original True dataset for the VAE Generated Samples and Randomly Selected Samples respectively.

In [3]:
def load_samples(number_of_samples):
    generated_sample = np.genfromtxt(generated_sample_file, delimiter = ',', skip_header=1)
    real_data = np.genfromtxt(original_dataset_file, delimiter = ',', skip_header=1)
    real_sample = real_data[np.random.choice(len(real_data), size=number_of_samples, replace=False)]
    generated_sample = generated_sample[np.random.choice(len(generated_sample), size=number_of_samples, replace=False)]

    generated = pd.DataFrame(generated_sample, columns = ['latitude','longitude','stars','review_count','is_open'])
    real_dataset = pd.DataFrame(real_data, columns = ['latitude','longitude','stars','review_count','is_open'])
    real_sample = pd.DataFrame(real_sample, columns = ['latitude','longitude','stars','review_count','is_open'])

    return generated, real_sample, real_dataset, real_data

### Generate Spatial Range Predicates
Will generate a list of spatial predicates and return the list. Predicates will be range spatial predicates. Specify actual dataset and number of samples

In [4]:
def generate_spatial_range_predicates(real_data, number_of_samples=100):
	sample = real_data[np.random.choice(len(real_data), size=number_of_samples, replace=False)]
	predicates = []
	for i in sample:
		coordinate = tuple(i[:2])
		radius = random.uniform(0, 1)
		predicates.append([('coordinates', 'range',(coordinate, radius))])
	return predicates

### Generate Normal Predicates

Generating a dict of predicates arranged in a hierarchical order. The ends contain a list of predicates.

```python
predicate_dict ---- Stars ______________  == (equality)
            |           |_______________  >= (more than or equals)
            |           |_______________  <= (less than or equals)
            | 
            |  ----- Review_count ______ == (equality)
            |           |_______________  >= (more than or equals)
            |           |_______________  <= (less than or equals)
            |
            | ----- is_open _____________ == (equality)
```      


```python
{'stars':{'==':[], '>=':[], '<=':[]}, 'review_count':{'==':[], '>=':[], '<=':[]}, 'is_open':{'==':[], '>=':[], '<=':[]}}
```

In [5]:
def generate_normal_predicates(real_data, number_of_samples):
    ops_dict = {0:'==', 1:'>=', 2:'<='}
    predicate_dict = {'stars':{'==':[], '>=':[], '<=':[]}, 'review_count':{'==':[], '>=':[], '<=':[]}, 'is_open':{'==':[], '>=':[], '<=':[]}}
    reverse_categorical_map = {0:0, 1:0.5, 2:1, 3:1.5, 4:2, 5:2.5, 6:3, 7:3.5, 8:4, 9:4.5, 10:5}
    minimum_review, maximum_review  = int(min(list(real_data[3]))), int(max(list(real_data[3])))

    # stars
    for _ in range((number_of_samples-2)//2):
        ops = random.randint(0, 2)
        value = reverse_categorical_map[random.randint(0, 10)]
        predicate_dict['stars'][ops_dict[ops]].append([('stars', ops_dict[ops], value)])

    # reviews
    for _ in range((number_of_samples-2)//2):
        ops = random.randint(0, 2)
        value = random.randint(minimum_review, maximum_review)
        predicate_dict['review_count'][ops_dict[ops]].append([('review_count', ops_dict[ops], value)])

    predicate_dict['is_open']['=='].append([('is_open', '==', 1)])
    predicate_dict['is_open']['=='].append([('is_open', '==', 0)])
    return predicate_dict

In [6]:
def in_radius(coordinate, center, radius):
	return np.linalg.norm(np.array(coordinate)-np.array(center)) <= radius

In [7]:
# evaluation for 1 query
def evaluate_query(dataset ,predicates):
    dataset.reset_index(drop=True)
    for predicate in predicates:
        attribute, op, value = predicate
        if attribute == 'coordinates':
            selection =	np.array(np.ones(len(dataset)), dtype='bool')
            for index, row in dataset.iterrows():
                selection[index] = in_radius((row[0], row[1]), value[0], value[1])
            dataset = dataset[selection]
            dataset.reset_index(drop=True)
        else:
            dataset = dataset.query(attribute+op+str(value))
            dataset.reset_index(drop=True)
    results = dataset.agg(['mean', 'median','count','sum'])
    return results

In [8]:
def error(y_true, y_pred):
    if math.isnan(y_pred) or math.isnan(y_true):
        return 1
    return abs(y_true-y_pred)/(y_true+1)

# compute loss for 1 query, returns error dictionary for storing errrors
def compute_error(real_results, test_results, error_dict):
    for a in error_dict.keys():
        for m in error_dict[a].keys():
            error_dict[a][m].append(error(real_results[a][m], test_results[a][m]))
    return error_dict

In [9]:
# evaluating loss for 1 predicate
def evaluate_predicate(real_dataset, test_dataset, predicates, error_dict):
    real_results = evaluate_query(real_dataset, predicates)
    test_results = evaluate_query(test_dataset, predicates)
    no_samples = False
    
    for a in test_results.keys():
        if test_results[a]['count'] == 0:
            no_samples = True
    if no_samples:
        print('NO SAMPLES FOR THIS PREDICATE :', predicates)
    multiplier = len(real_dataset)/len(test_dataset)
    test_results['stars']['count'] = test_results['stars']['count']*multiplier
    test_results['stars']['sum'] = test_results['stars']['sum']*multiplier
    test_results['review_count']['count'] = test_results['review_count']['count']*multiplier
    test_results['review_count']['sum'] = test_results['review_count']['sum']*multiplier
    test_results['is_open']['count'] = test_results['is_open']['count']*multiplier
    test_results['is_open']['sum'] = test_results['is_open']['sum']*multiplier
    
    compute_error(real_results, test_results, error_dict)

In [10]:
def evaluate_dataset(real_dataset, test_dataset, predicates_dict):
    for a in predicates_dict.keys():
        for op in predicates_dict[a].keys():
            print(real_dataset.shape, test_dataset.shape)
            print('Evaluating Error for ' + str(a) + ' and ' + str(op))
            error_dict = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict = evaluate_helper(real_dataset, test_dataset, predicates_dict[a][op], error_dict)
            error_summary = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            for a2 in error_dict.keys():
                for m in error_dict[a2].keys():
                    if len(error_dict[a2][m])>0:
                        error_summary[a2][m] = sum(error_dict[a2][m])/len(error_dict[a2][m])
            display_results(error_summary)
            
def evaluate_helper(real_dataset, test_dataset, predicates_list, error_dict=None):
    if error_dict is None:
        error_dict = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
    for predicates in predicates_list:
        evaluate_predicate(real_dataset, test_dataset, predicates, error_dict)
    return error_dict

In [11]:
def compare_evaluate_dataset(real_dataset, test_dataset_1, test_dataset_2, predicates_dict):
    for a in predicates_dict.keys():
        for op in predicates_dict[a].keys():
            print(real_dataset.shape, test_dataset_1.shape, test_dataset_2.shape)
            print('Evaluating Error for ' + str(a) + ' and ' + str(op))
            error_dict_1 = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict_2 = {'stars':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'review_count':{'sum':[], 'mean':[], 'median':[], 'count':[]}, 'is_open':{'sum':[], 'mean':[], 'count':[]}}
            error_dict_1 = evaluate_helper(real_dataset, test_dataset_1, predicates_dict[a][op], error_dict_1)
            error_dict_2 = evaluate_helper(real_dataset, test_dataset_2, predicates_dict[a][op], error_dict_2)
            error_summary_1 = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            error_summary_2 = {'stars':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'review_count':{'sum':'na', 'mean':'na', 'median':'na', 'count':'na'}, 'is_open':{'sum':'na', 'mean':'na', 'count':'na', 'median':'na'}}
            for a2 in error_dict_1.keys():
                for m in error_dict_1[a2].keys():
                    if len(error_dict_1[a2][m])>0:
                        error_summary_1[a2][m] = sum(error_dict_1[a2][m])/len(error_dict_1[a2][m])
            for a2 in error_dict_2.keys():
                for m in error_dict_2[a2].keys():
                    if len(error_dict_2[a2][m])>0:
                        error_summary_2[a2][m] = sum(error_dict_2[a2][m])/len(error_dict_2[a2][m])
            display_compare_results(error_summary_1, error_summary_2)

def display_compare_results(error_summary_1, error_summary_2):
    x = PrettyTable()
    
    column_names = ["errors"] + ["stars", "review_count", "is_open"] + ["next_model"] + ["stars", "review_count", "is_open"]

    x.add_column(column_names[0], ["mean", "median", "sum", 
        "count"])
    i = 1
    for a in error_summary_1.keys():
        x.add_column(column_names[i], [display_helper(error_summary_1[a]['mean']), display_helper(error_summary_1[a]['median']), display_helper(error_summary_1[a]['sum']), display_helper(error_summary_1[a]['count'])])  
        i += 1
    x.add_column(column_names[i], [" ", " ", " ", 
        " "])
    i+= 1
    for a in error_summary_2.keys():
        x.add_column(column_names[i], [display_helper(error_summary_2[a]['mean']), display_helper(error_summary_2[a]['median']), display_helper(error_summary_2[a]['sum']), display_helper(error_summary_2[a]['count'])])  
        i += 1
    print(x)

def display_helper(number):
    if number == 'na':
        return number
    return_number = number * 100
    return_number = round(return_number, 2)
    return return_number

In [12]:
def display_results(error_summary, metric='mean'):
    x = PrettyTable()
    
    column_names = ["errors", "stars", "review_count", "is_open"]

    x.add_column(column_names[0], ["mean", "median", "sum", 
        "count"])
    i = 1
    for a in error_summary.keys():
        x.add_column(column_names[i],[display_helper(error_summary[a]['mean']), display_helper(error_summary[a]['median']), display_helper(error_summary[a]['sum']), display_helper(error_summary[a]['count'])])  
        i += 1
    print(x)

In [13]:
def selectivity_filter(lower_percentage, higher_percentage, predicates_list, dataset):
    dataset.reset_index(drop=True)
    original_size = dataset.size
    new_predicates_list = []
    for predicates in predicates_list:
        new_dataset = dataset
        for predicate in predicates:
            attribute, op, value = predicate
            if attribute == 'coordinates':
                selection = np.array(np.ones(len(new_dataset)), dtype='bool')
                for index, row in dataset.iterrows():
                    selection[index] = in_radius((row[0], row[1]), value[0], value[1])
                new_dataset = new_dataset[selection]
                new_dataset.reset_index(drop=True)
            else:
                new_dataset = new_dataset.query(attribute+op+str(value))
                new_dataset.reset_index(drop=True)
        
        count = new_dataset.size
        
        if count/original_size > lower_percentage and count/original_size <= higher_percentage:
            new_predicates_list.append(predicates)

    return new_predicates_list

In [16]:
generated_sample, real_sample, real_dataset, real_data = load_samples(10000)
normal_predicates = generate_normal_predicates(real_data, 200)
normal_predicates['coordinates'] = {}
normal_predicates['coordinates']['range'] = generate_spatial_range_predicates(real_data, 0)

for a in normal_predicates.keys():
    if a == 'coordinates':
        continue
    for op in normal_predicates[a].keys():
        normal_predicates[a][op] = selectivity_filter(0.01, 1, normal_predicates[a][op], real_dataset)

In [17]:
generated_sample.shape

(10000, 5)

In [24]:
evaluate_dataset(real_dataset, generated_sample, normal_predicates)

(174567, 5) (2000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.0  |    27.01     |   2.35  |
| median |  0.0  |    27.49     |    na   |
|  sum   |  6.01 |    29.39     |   7.69  |
| count  |  6.01 |     6.01     |   6.01  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.33 |    29.52     |   1.27  |
| median |  1.75 |    25.75     |    na   |
|  sum   |  0.74 |    30.72     |   3.07  |
| count  |  0.53 |     0.53     |   0.53  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.31 |    31.21     |   0.82  |
| median |  1.04 |    24.54     |    na   |
|  sum   |  1.88 |    32.05     |   2.25  |
| count  |  1.55 |     1.55     |   1.55  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  3.0  |     0.0      |   1.6   |
| median |  5.37 |     0.0      |    na   |
|  sum   | 15.44 |    15.65     |  17.03  |
| count  | 15.65 |    15.65     |  15.65  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.28 |    27.93     |   0.98  |
| median |  0.14 |    19.36     |    na   |
|  sum   |  7.25 |    32.66     |   8.86  |
| count  |  6.91 |     6.91     |   6.91  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.32 |    20.95     |   0.53  |
| median |  0.0  |     6.55     |    na   |
|  sum   |  26.5 |     5.47     |  25.54  |
| count  | 27.03 |    27.03     |  27.03  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  1.26 |    27.03     |   0.0   |
| median |  5.0  |    26.11     |    na   |
|  sum   |  8.02 |    24.64     |   1.0   |
| count  |  6.29 |     6.29     |   6.29  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+

In [25]:
evaluate_dataset(real_dataset, real_sample, normal_predicates)

(174567, 5) (2000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.0  |    13.11     |   1.03  |
| median |  0.0  |    10.31     |    na   |
|  sum   |  5.43 |    15.45     |   6.57  |
| count  |  5.43 |     5.43     |   5.43  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.47 |     5.36     |   0.33  |
| median |  2.5  |     2.38     |    na   |
|  sum   |  1.35 |     4.9      |   0.93  |
| count  |  0.78 |     0.78     |   0.78  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.43 |     7.65     |   0.86  |
| median |  3.82 |     4.51     |    na   |
|  sum   |  3.21 |     6.58     |   4.3   |
| count  |  2.72 |     2.72     |   2.72  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  2.56 |     0.0      |   2.2   |
| median |  3.7  |     0.0      |    na   |
|  sum   | 15.61 |    15.35     |   15.6  |
| count  | 15.35 |    15.35     |  15.35  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.62 |     2.86     |   0.58  |
| median |  9.98 |     0.33     |    na   |
|  sum   |  0.93 |     2.84     |   1.16  |
| count  |  0.15 |     0.15     |   0.15  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.96 |     0.37     |   0.1   |
| median | 11.11 |     0.0      |    na   |
|  sum   |  0.89 |     0.91     |   0.79  |
| count  |  0.71 |     0.71     |   0.71  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |  0.51 |     4.99     |   0.0   |
| median |  0.0  |    10.56     |    na   |
|  sum   |  2.48 |     8.27     |   0.47  |
| count  |  2.94 |     2.94     |   2.94  |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+
(174567, 5) (2000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+
| errors | stars | review_count | is_open |
+--------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |
| median |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |
+--------+-------+--------------+---------+

In [18]:
compare_evaluate_dataset(real_dataset, generated_sample, real_sample, normal_predicates)

(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.0  |     7.5      |   1.44  |            |  0.0  |     7.55     |   0.82  |
| median |  0.0  |     9.62     |    na   |            |  0.0  |     4.32     |    na   |
|  sum   |  1.51 |     8.55     |   3.42  |            |  1.62 |     9.08     |   1.78  |
| count  |  1.51 |     1.51     |   1.51  |            |  1.62 |     1.62     |   1.62  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.06 |     2.15     |   1.17  |            |  0.08 |     2.61     |   0.07  |
| median |  0.0  |     6.45     |    na   |            |  0.0  |     0.53     |    na   |
|  sum   |  0.44 |     2.08     |   2.23  |            |  0.76 |     3.46     |   0.65  |
| count  |  0.39 |     0.39     |   0.39  |            |  0.73 |     0.73     |   0.73  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for stars and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.12 |     4.5      |   1.0   |            |  0.12 |     3.92     |   0.46  |
| median |  0.0  |     5.46     |    na   |            |  0.0  |     0.76     |    na   |
|  sum   |  0.82 |     5.54     |   2.76  |            |  0.74 |     4.51     |   0.88  |
| count  |  0.77 |     0.77     |   0.77  |            |  0.59 |     0.59     |   0.59  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  1.01 |     0.0      |   0.16  |            |  0.87 |     0.0      |   0.77  |
| median |  0.0  |     0.0      |    na   |            |  0.0  |     0.0      |    na   |
|  sum   | 15.16 |    16.24     |  15.95  |            |  0.25 |     0.88     |   0.82  |
| count  | 16.24 |    16.24     |  16.24  |            |  0.88 |     0.88     |   0.88  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.1  |     1.34     |   0.4   |            |  0.1  |     1.95     |   0.04  |
| median |  0.65 |     0.94     |    na   |            |  0.0  |     0.17     |    na   |
|  sum   |  0.82 |     0.76     |   1.41  |            |  0.12 |     1.95     |   0.07  |
| count  |  0.76 |     0.76     |   0.76  |            |  0.06 |     0.06     |   0.06  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for review_count and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  0.08 |     6.94     |   0.51  |            |  0.09 |     0.38     |   0.19  |
| median |  0.0  |     5.03     |    na   |            |  0.0  |     0.0      |    na   |
|  sum   |  4.04 |     4.67     |   5.11  |            |  0.28 |     0.65     |   0.44  |
| count  |  3.94 |     3.94     |   3.94  |            |  0.24 |     0.24     |   0.24  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and ==
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |  2.14 |     7.14     |   0.0   |            |  0.08 |     7.29     |   0.0   |
| median | 10.56 |    10.56     |    na   |            |  0.0  |    10.56     |    na   |
|  sum   |  0.17 |     4.36     |   0.45  |            |  0.07 |     7.63     |   0.01  |
| count  |  2.8  |     2.8      |   2.8   |            |  0.05 |     0.05     |   0.05  |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and >=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |            |   na  |      na      |    na   |
| median |   na  |      na      |    na   |            |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |            |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |            |   na  |      na      |    na   |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for is_open and <=
+--------+-------+--------------+---------+------------+-------+--------------+---------+
| errors | stars | review_count | is_open | next_model | stars | review_count | is_open |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
|  mean  |   na  |      na      |    na   |            |   na  |      na      |    na   |
| median |   na  |      na      |    na   |            |   na  |      na      |    na   |
|  sum   |   na  |      na      |    na   |            |   na  |      na      |    na   |
| count  |   na  |      na      |    na   |            |   na  |      na      |    na   |
+--------+-------+--------------+---------+------------+-------+--------------+---------+
(174567, 5) (10000, 5) (10000, 5)
Evaluating Error for coordinates and range
NO SAMPLES FOR THIS PREDICATE : [('coordinates', 'range', ((36.0102186, -115.1445397), 0.03668927285965928))]

KeyboardInterrupt:

In [49]:
temp = evaluate_helper(real_dataset, generated_sample, normal_predicates['stars']['=='])

In [44]:
evaluate_query(generated_sample, normal_predicates['stars']['=='][2])

           latitude     longitude  stars  review_count     is_open
mean      39.009634    -93.650808    1.0      8.541284    0.798165
median    37.726009    -84.773258    1.0      4.000000    1.000000
count    109.000000    109.000000  109.0    109.000000  109.000000
sum     4252.050103 -10207.938077  109.0    931.000000   87.000000

In [45]:
evaluate_query(real_dataset, normal_predicates['stars']['=='][2])

             latitude      longitude   stars  review_count      is_open
mean        37.868712     -96.615644     1.0       5.81679     0.891499
median      36.118778    -111.728964     1.0       3.00000     1.000000
count     3788.000000    3788.000000  3788.0    3788.00000  3788.000000
sum     143446.681774 -365980.059602  3788.0   22034.00000  3377.000000

In [59]:
evaluate_query(real_sample, normal_predicates['stars']['=='][2])

           latitude    longitude  stars  review_count    is_open
mean      38.310937   -95.224187    1.0      4.534884   0.906977
median    36.216772   -82.039882    1.0      3.000000   1.000000
count     43.000000    43.000000   43.0     43.000000  43.000000
sum     1647.370307 -4094.640051   43.0    195.000000  39.000000

In [50]:
print(temp)

{'stars': {'sum': [0.999991082098204, 0.9998450933312679, 1.511190683557667, 0.02369519829195146, 0.7643239704707807, 0.9999910380613535, 1.3308598816022585, 1.511190683557667, 0.02369519829195146, 1.5566112869481254, 0.02369519829195146, 0.02369519829195146, 1.3308598816022585, 0.999991082098204, 1.5566112869481254, 0.7643239704707807, 0.7643239704707807, 0.9999752297441232, 1.511190683557667, 0.9998450933312679, 0.9999910380613535, 1.3308598816022585, 0.7643239704707807, 0.9998450933312679, 1.3308598816022585, 0.02369519829195146, 0.7643239704707807, 1.3308598816022585, 1.5566112869481254], 'mean': [1, 1, 0.0, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 1, 0.0, 1, 1, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 0.0, 0.0], 'median': [1, 1, 0.0, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 1, 0.0, 1, 1, 0.0, 0.0, 1, 0.0, 0.0, 0.0, 0.0, 0.0], 'count': [0.9999687880395768, 0.9997676579925651, 1.511190683557667, 0.023694510003267916, 0.7643068551637657, 0.9999596725410332, 1.3308215443114548, 1.511190683557667, 0.023694510003267916, 1.5565277867181635, 0.023694510003267916, 0.023694510003267916, 1.3308215443114548, 0.9999687880395768, 1.5565277867181635, 0.7643068551637657, 0.7643068551637657, 0.9999380766610936, 1.511190683557667, 0.9997676579925651, 0.9999596725410332, 1.3308215443114548, 0.7643068551637657, 0.9997676579925651, 1.3308215443114548, 0.023694510003267916, 0.7643068551637657, 1.3308215443114548, 1.5565277867181635]}, 'review_count': {'sum': [0.999999161719414, 0.9999829290360026, 2.6878574313592014, 0.34087784605638266, 0.10808226072918524, 0.9999989005697247, 0.3438305478558618, 2.6878574313592014, 0.34087784605638266, 1.3068242163491086, 0.34087784605638266, 0.34087784605638266, 0.3438305478558618, 0.999999161719414, 1.3068242163491086, 0.10808226072918524, 0.10808226072918524, 0.9999967937619433, 2.6878574313592014, 0.9999829290360026, 0.9999989005697247, 0.3438305478558618, 0.10808226072918524, 0.9999829290360026, 0.3438305478558618, 0.34087784605638266, 0.10808226072918524, 0.3438305478558618, 1.3068242163491086], 'mean': [1, 1, 0.3996741275308231, 0.32756077129623196, 0.36463990670847946, 1, 0.40890970541672206, 0.3996741275308231, 0.32756077129623196, 0.0911977585240227, 0.32756077129623196, 0.32756077129623196, 0.40890970541672206, 1, 0.0911977585240227, 0.36463990670847946, 0.36463990670847946, 1, 0.3996741275308231, 1, 1, 0.40890970541672206, 0.36463990670847946, 1, 0.40890970541672206, 0.32756077129623196, 0.36463990670847946, 0.40890970541672206, 0.0911977585240227], 'median': [1, 1, 0.25, 0.16666666666666666, 0.46153846153846156, 1, 0.36363636363636365, 0.25, 0.16666666666666666, 0.25, 0.16666666666666666, 0.16666666666666666, 0.36363636363636365, 1, 0.25, 0.46153846153846156, 0.46153846153846156, 1, 0.25, 1, 1, 0.36363636363636365, 0.46153846153846156, 1, 0.36363636363636365, 0.16666666666666666, 0.46153846153846156, 0.36363636363636365, 0.25], 'count': [0.9999687880395768, 0.9997676579925651, 1.511190683557667, 0.023694510003267916, 0.7643068551637657, 0.9999596725410332, 1.3308215443114548, 1.511190683557667, 0.023694510003267916, 1.5565277867181635, 0.023694510003267916, 0.023694510003267916, 1.3308215443114548, 0.9999687880395768, 1.5565277867181635, 0.7643068551637657, 0.7643068551637657, 0.9999380766610936, 1.511190683557667, 0.9997676579925651, 0.9999596725410332, 1.3308215443114548, 0.7643068551637657, 0.9997676579925651, 1.3308215443114548, 0.023694510003267916, 0.7643068551637657, 1.3308215443114548, 1.5565277867181635]}, 'is_open': {'sum': [0.9999614851332614, 0.9997283346916599, 1.2482724985198344, 0.048270808371275564, 0.7877552286167606, 0.9999532775779096, 1.4678703673380276, 1.2482724985198344, 0.048270808371275564, 1.5292827407313678, 0.048270808371275564, 0.048270808371275564, 1.4678703673380276, 0.9999614851332614, 1.5292827407313678, 0.7877552286167606, 0.7877552286167606, 0.999924761116545, 1.2482724985198344, 0.9997283346916599, 0.9999532775779096, 1.4678703673380276, 0.7877552286167606, 0.9997283346916599, 1.4678703673380276, 0.048270808371275564, 0.7877552286167606, 1.4678703673380276, 1.5292827407313678], 'mean': [1, 1, 0.04934409751787809, 0.03347771639189843, 0.00602125976202791, 1, 0.02598378770501284, 0.04934409751787809, 0.03347771639189843, 0.004884713861603902, 0.03347771639189843, 0.03347771639189843, 0.02598378770501284, 1, 0.004884713861603902, 0.00602125976202791, 0.00602125976202791, 1, 0.04934409751787809, 1, 1, 0.02598378770501284, 0.00602125976202791, 1, 0.02598378770501284, 0.03347771639189843, 0.00602125976202791, 0.02598378770501284, 0.004884713861603902], 'count': [0.9999687880395768, 0.9997676579925651, 1.511190683557667, 0.023694510003267916, 0.7643068551637657, 0.9999596725410332, 1.3308215443114548, 1.511190683557667, 0.023694510003267916, 1.5565277867181635, 0.023694510003267916, 0.023694510003267916, 1.3308215443114548, 0.9999687880395768, 1.5565277867181635, 0.7643068551637657, 0.7643068551637657, 0.9999380766610936, 1.511190683557667, 0.9997676579925651, 0.9999596725410332, 1.3308215443114548, 0.7643068551637657, 0.9997676579925651, 1.3308215443114548, 0.023694510003267916, 0.7643068551637657, 1.3308215443114548, 1.5565277867181635]}}

In [53]:
evaluate_query(generated_sample, [])

            latitude      longitude     stars  review_count    is_open
mean       38.713536     -92.150396     3.416       18.9825     0.8375
median     36.888280     -87.310831     3.500        5.0000     1.0000
count    2000.000000    2000.000000  2000.000     2000.0000  2000.0000
sum     77427.072514 -184300.792823  6832.000    37965.0000  1675.0000

In [54]:
evaluate_query(real_dataset, [])

            latitude     longitude          stars  review_count        is_open
mean    3.862731e+01 -9.267901e+01       3.632196  3.013706e+01       0.840376
median  3.614426e+01 -8.941013e+01       3.500000  8.000000e+00       1.000000
count   1.745660e+05  1.745660e+05  174567.000000  1.745670e+05  174567.000000
sum     6.743015e+06 -1.617860e+07  634061.500000  5.260936e+06  146702.000000

In [55]:
evaluate_query(real_sample, [])

            latitude      longitude       stars  review_count    is_open
mean       38.821916     -91.581528     3.66475       29.3185     0.8325
median     36.157982     -89.305639     4.00000        8.0000     1.0000
count    2000.000000    2000.000000  2000.00000     2000.0000  2000.0000
sum     77643.832785 -183163.055070  7329.50000    58637.0000  1665.0000

639744.41325